.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-image: url("src/assets/images/night__sky.jpg");
    max-width: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 200px;

    margin: 0 auto;
    padding: 0;
}

.main-nav {
    height: 100px;
    width: 100%;

    & {
        position: relative;
        top: -10px;
    }

    & ul { text-align: center; }
    & li { display: flex; }
    & p { 
        color: greenyellow; 
        font-size: 20px;
    }

    & a {
        display: inline-block;
        padding: 0.5em 1.5em;
        color: yellow;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        & .form {
            display: flex;
            flex-wrap: wrap;
        }

        & h2:last-child {
            cursor: pointer;
            margin-right: 100px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .name {
        position: relative;
        top: -25px;
        
        margin: 0;
        text-align: center;
    }

    & .userName,
    & .planet {
        color: red;
        text-decoration: underline yellowgreen;
    }
}

.form {
    justify-content: center;
    width: 50%;
    height: 60px;
    padding-top: 10px;
    margin-left: 24%;
    margin-right: auto;

    & select {
        cursor: pointer;
        background-color: black;
        border: 1px solid gray;
        color: yellow;
        font-size: 16px;
        height: 30px;
        width: 120px;
        margin-right: 20px;
        outline: none;

        & option {
            font-weight: bold;
        }
    }

    & .primary-button {
        height: 30px;
        outline: none;
    }

    & h2 {
        margin: 0;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.colors__container {
    height: 100px;
    width: 100px;
    z-index: 1;

    .colors input,
    .colors label,
    & h2 {
        cursor: pointer;
        font-weight: 500;
        margin-right: 20px;
    }

    & h2 {
        margin-bottom: 10px;
    }

    & h2:hover {
        color: darken($color: yellow, $amount: 10%);
    }
    & div {
        background-color: black;
    }
}

.types__container {
    height: 100px;
    z-index: 1;

    .types input,
    .types label,
    & h2 {
        cursor: pointer;
        font-weight: 500;
        margin-right: 20px;
    }

    & h2 {
        margin-bottom: 10px;
        width: 130px;
    }
    & h2:hover {
        color: darken($color: yellow, $amount: 10%);
    }
    & div {
        background-color: black;
    }
}

.search__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 600px;
    margin-left: 13.7%;

    & button {
        height: 36px;
        padding: 10px;
        margin-right: 10px;
    }

    & p {
        padding: 0;
        margin: 0;
    }
}

.main-header { margin-bottom: 50px; }

.show-item { display: block; }
#dropdown {
    display: none; 
    font-size: 40px;
    margin-left: 6%;
    opacity: 0.7;
    cursor: pointer;
}

.full-opacity { opacity: 1 !important; }

.extend-header { 
    height: 450px !important;

    .main-nav {
        top: -100px;
    }
}


/* Responsiveness */

@media (min-width: 960px) {
    .main-header .container {
        justify-content: space-between;
    }
}

@media (max-width: 770px){
    .show-item { display: none; }

    #dropdown { 
        display: inline;
        margin-right: 10%;
    }
    
    .main-header .container {
        height: 100px;
    }

    .main-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 20px;
        
        &__list {
            & .form {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0;
                width: 500px;
                margin-right: 40px;
            }

            & h2:last-child { 
                margin: 0;
                font-size: 18px;
                color: red;;
            }
        }

        & .primary-button { 
            z-index: 2; 
            margin-right: 10px;
        }
    }

    .search__content {
        margin-top: 30px;
        margin-bottom: 15px;
        height: 100px;
    }

    .card__container { margin-top: 150px; }
    .container { 
        height: 330px; 
        overflow-y: scroll;
    }

    .types__container,
    .colors__container {
        height: auto;
        max-height: 35px;
    }

    .form {
        & select {
            margin-right: 50px;
        }
    }
}

@media (max-width: 600px) {
    .main-nav {
        &__list {
            & .form {
                width: 250px;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 425px) {
    #dropdown {
        margin-left: 0;
        margin-right: 70%;
    }

    .main-nav {
        & .name {
            position: relative;
            top: 0;
        }
    }
}

