.login__page .form input,
.search__content input {
    height: 30px;
    outline: none;
    background-color: lightgray;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 5%;
}
