.card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 250px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.card {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #eee;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: moving-stars 100s linear infinite;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.8em;
    padding: 50px;

    margin-bottom: 10%;
    width: 550px;
    height: auto;
    border-radius: 2%;
    box-shadow: yellow 2px 2px 3px 4px;

    &__header:nth-child(2) {
        font-size: 5.6rem;
        font-family: "Lobster", cursive;
    }

    &__header {
        &--name {
            text-decoration: underline red;
            color: yellow;
            font-size: 26px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__img {
        padding: 30px;
        &--not-available {
            width: 240px;
            height: 340px;
        }
    }

    &__text {
        padding-bottom: 20px;
        padding-top: 20px;
        color: yellowgreen;
        font-size: 18px;
    }
}

.card-header {
    color: yellow;
    margin-top: 0;
}

.not-found__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    & .card-content {
        text-align: center;
    }

    & .card-body {
        display: flex;
        align-items: center;
    }

    & .img-responsive {
        width: 100%;
        height: auto;
    }
}

@keyframes moving-stars {
    100% {
        background-position: 0px -3000px;
    }
}

.loading__container {
    margin-top: 10%;

    & h2 { text-align: center; }
    
    .lds-circle {
        display: flex;
        transform: translateZ(1px);
        justify-content: center;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    
        &:hover {
            cursor: pointer;
            & > div {
                background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
            }
        }
    
    }
    
    .lds-circle > div {
        display: inline-block;
        width: 104px;
        height: 104px;
        margin: 8px;
        border-radius: 50%;
        background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.7ROEWo5vyZGKGUsxojejlwHaEo%26pid%3DApi&f=1');
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
}

@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}


/* Responsiveness */

@media (max-width: 500px) {
    .card {
        width: 200px;
        padding-left: 20px;

        &__img {
            width: 170px;
            height: 260px;

            &--not-available {
                width: 50px;
                height: 50px;
            }
        }

        &__content {
            flex-direction: column;
            text-align: left;
        }
    }
}
