<div class="login__page">
    <div class="form__container">
        <form 
            class="form"
            [formGroup]="loginForm" 
            (ngSubmit)="onSubmit()"
        >
            <h2>Magic The Gathering</h2>
            <div class="login__info">
                <label for="name">Username:</label>
                <input 
                    placeholder="Enter you name..."
                    type="text" 
                    class="form__input" 
                    id="name" 
                    formControlName="name"
                >    
            </div>
            
            <button 
                class="primary-button" 
                type="submit" 
                [disabled]="!loginForm.valid"
            >Login</button><br />

            <span 
                *ngIf="isInvalidInput('name')"
            >
                <span class="text-red bold" *ngIf="isRequired('name')">Name is required.</span>
                <span class="text-red bold" *ngIf="isInvalidFormat('name')">It should begin with uppercase letter and be at least 3 characters long.</span>
            </span>
        </form>
    </div>
</div>
