<header class="main-header">
	<div class="container" [ngClass]="{'extend-header': !toggleDropdown}">
		<nav class="main-nav">
            <span 
                (click)="toggleMenu()"
                id="dropdown"
                [ngClass]="{'full-opacity': toggleDropdown}"
            >
                &#9776; <!-- navigation menu (hamburger) -->
            </span><br />

            <h2 *ngIf="name" class="name" [ngClass]="{'show-item': toggleDropdown}">
                Welcome <span class="userName">{{ name }}</span>, this is planet <span class="planet">Ampryn - 139</span>
            </h2>    
            <div class="search__content" [ngClass]="{'show-item': toggleDropdown}">
                <p *ngIf="showFilteredCards">Found <b>{{ filteredCards.length }}</b> result(s).</p>
                <input type="text" #searchEl placeholder="Search by name or text..." />
                <button 
                    class="primary-button" 
                    (click)="onSearch(searchEl)"
                    [disabled]="isLoading"
                >
                    Search
                </button>
                <button 
                    class="reset-button" 
                    (click)="onReset()"
                    [disabled]="isLoading"
                >
                    Reset
                </button>    
            </div>  

			<div class="main-nav__list">              
                <form 
                    class="form" 
                    [formGroup]="dropdownForm" 
                    (ngSubmit)="onSubmit()"
                >
                    <div class="colors__container" [ngClass]="{'show-item': toggleDropdown}">
                        <h2 (click)="onSelect('colors')">Colors</h2>
                        <div [hidden]="!(showCheckbox === 'colors')">
                            <div class="colors" *ngFor="let color of filterByColors">
                                <label>{{ color }}
                                    <input 
                                        type="checkbox" 
                                        [value]="color" 
                                        (change)="onCheckboxChange($event, 'colors')" 
                                    />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="types__container" [ngClass]="{'show-item': toggleDropdown}">
                        <h2 (click)="onSelect('types')">Types</h2>
                        <div [hidden]="!(showCheckbox === 'types')">
                            <div class="types"  *ngFor="let type of filterByTypes">
                                <label>{{ type }}
                                    <input 
                                        type="checkbox" 
                                        [value]="type" 
                                        (change)="onCheckboxChange($event, 'types')" 
                                    />
                                </label>
                            </div>
                        </div>
                    </div>

                    <select formControlName="name" [ngClass]="{'show-item': toggleDropdown}">
                        <option [ngValue]="'ascending'">Ascending</option>
                        <option [ngValue]="'descending'">Descending</option>
                    </select>

                    <button 
                        [ngClass]="{'show-item': toggleDropdown}"
                        class="primary-button" 
                        type="submit" 
                        [disabled]="!dropdownForm.valid || isLoading"
                    >Filter</button>
                </form>
                <h2 routerLink="/home">Logout</h2>
			</div>
		</nav>
	</div>
</header>

<div *ngIf="!showFilteredCards">
    <div class="card__container">
        <app-magic-card 
            *ngFor="let newCard of cards" 
            [card]="newCard"
        >
        </app-magic-card>
    </div>
</div>

<div *ngIf="showFilteredCards">
    <div class="card__container">
        <app-magic-card 
            *ngFor="let newCard of filteredCards" 
            [card]="newCard"
         >
        </app-magic-card>
    </div>
</div>


<div *ngIf="filteredCards.length < 1 && 
            !isLoading               && 
            showFilteredCards"
>
    <app-not-found></app-not-found>
</div>

<div *ngIf="cards.length < 1 && 
     !isLoading && 
     !errMessage"
>
    <app-not-found></app-not-found>
</div>

<app-error *ngIf="errMessage">
    {{ errMessage }}
</app-error>

<app-loading-spinner *ngIf="isLoading"> 
</app-loading-spinner>
