<h2 *ngIf="name">Hello {{ name }}</h2><br /><br /><br /><br />
<input type="text" #searchEl placeholder="Search by name or text..." />
<button (click)="onSearch(searchEl)">
    Search
</button>
<button (click)="onReset()">
    Reset
</button>

<form 
    class="form" 
    [formGroup]="dropdownForm" 
    (ngSubmit)="onSubmit()"
>
    <div class="colors__container">
        <h2 (click)="onSelect('colors')">Colors:</h2>
        <div [hidden]="!(showCheckbox === 'colors')">
            <div class="colors" *ngFor="let color of filterByColors">
                <label>{{ color }}
                    <input 
                        type="checkbox" 
                        [value]="color" 
                        (change)="onCheckboxChange($event, 'colors')" 
                    />
                </label>
            </div>
        </div>
    </div><br /><br /><br /><br />

    <div class="types__container">
        <h2 (click)="onSelect('types')">Types:</h2>
        <div *ngIf="filterByTypes.length === 0">Loading...</div>
        <div [hidden]="!(showCheckbox === 'types')">
            <div class="types"  *ngFor="let type of filterByTypes">
                <label>{{ type }}
                    <input 
                        type="checkbox" 
                        [value]="type" 
                        (change)="onCheckboxChange($event, 'types')" 
                    />
                </label>
            </div>
        </div>
    </div><br /><br /><br /><br />

    <!-- <select multiple formControlName="colors">
        <option *ngFor="let color of filterByColors" [ngValue]="color">
            {{ color }}
        </option>
    </select> -->

    <!-- <select multiple formControlName="types">
        <option *ngIf="filterByTypes.length === 0" disabled>Loading...</option>
        <option *ngFor="let type of filterByTypes" [ngValue]="type">
            {{ type }}
        </option>
    </select> -->

    <select multiple formControlName="name">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
    </select>

    <button 
        class="primary-button" 
        type="submit" 
        [disabled]="!dropdownForm.valid"
    >Filter</button>
</form><br />


<br /><br />
<h3 routerLink="/home">Logout</h3>

<div *ngIf="!showFilteredCards">
    <div class="card__container">
        <app-magic-card 
            *ngFor="let newCard of cards" 
            [card]="newCard"
        >
        </app-magic-card>
    </div>

</div>

<div *ngIf="showFilteredCards">
    <h2>Found {{ filteredCards.length }} results.</h2>
    <div class="card__container">
        <app-magic-card 
            *ngFor="let newCard of filteredCards" 
            [card]="newCard"
         >
    </app-magic-card>
    </div>

</div>

<div *ngIf="filteredCards.length < 1 && !isLoading && showFilteredCards">
    <h2>No such card was found.</h2>
</div>

<div *ngIf="cards.length < 1 && !isLoading">
    <h2>Currently there are no cards available...</h2>
</div>

<app-error *ngIf="errMessage">
    {{ errMessage }}
</app-error>

<app-loading-spinner *ngIf="isLoading">
</app-loading-spinner>
